<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
      <meta charset="UTF-8">
      <title>Добавление товара</title>
  </head>
  <body>
    <h1>Добавление товара</h1>
    <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
      <label for="title">Введите наименование товара: </label>
      <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
      <br>
      <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
      <br>
      <label for="des">Введите описание товара: </label>
      <textarea th:field="*{description}" placeholder="Описание товара" id="des"></textarea>
      <br>
      <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
      <br>
      <label for="price">Введите цену товара: </label>
      <input type="number" min="1" step="0.01" th:field="*{price}" placeholder="1.0" id="price">
      <br>
      <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
      <br>
      <label for="ware">Введите наименование склада, на котором храниться товар: </label>
      <input type="text"th:field="*{warehouse}" placeholder="Склад" id="ware">
      <br>
      <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
      <br>
      <label for="category">Выберите категорию товара: </label>
      <select name="category" th:field="*{category}" id="category">
        <div th:each="element: ${category}">
          <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
      </select>
      <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
      <br>
      <label for="seller">Введите продовца: </label>
      <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
      <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
      <br>
      <span style="color: red;"> Вы можете добавить от 1 до 5 фотографий!!!</span>
      <br>
      <input type="file" name="file_one"><br>
      <input type="file" name="file_two"><br>
      <input type="file" name="file_three"><br>
      <input type="file" name="file_four"><br>
      <input type="file" name="file_five"><br>
      <input type="submit" value="Добавить">
    </form>
  </body>
</html>