<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<h1>Редактирование товара</h1>
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}" th:object="${product}" enctype="multipart/form-data">
  <label for="title">Введите наименование товара: </label>
  <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
  <br>
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br>
  <label for="des">Введите описание товара: </label>
  <textarea th:field="*{description}" placeholder="Описание товара" id="des"></textarea>
  <br>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  <br>
  <label for="price">Введите цену товара: </label>
  <input type="number" min="1" step="0.01" th:field="*{price}" placeholder="1.0" id="price">
  <br>
  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  <br>
  <label for="ware">Введите наименование склада, на котором храниться товар: </label>
  <input type="text"th:field="*{warehouse}" placeholder="Склад" id="ware">
  <br>
  <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
  <br>
  <label for="category">Выберите категорию товара: </label>
  <select name="category" th:field="*{category}" id="category">
    <div th:each="element: ${category}">
      <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
    </div>
  </select>
  <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
  <br>
  <label for="seller">Введите продовца: </label>
  <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
  <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
  <br>
  <span style="color: red;"> Вы можете добавить от 1 до 5 фотографий!!!</span>
  <br>
  <div style="display: flex; flex-wrap: wrap">
    <div th:each="img : ${product.getImageList()}" style="margin: 5px; padding: 0px; width: 250px">
      <img th:src="'/img/' + ${img.getFileName()}">
    </div>
  </div>
  <div style="display: flex; flex-wrap: wrap; margin: 5px">
    <div style="width: 250px; margin: 5px">
      <input type="button" id="loadFileXml1" value="Выберите фото" onclick="document.getElementById('file1').click();" />
      <input type="file" style="display:none;" id="file1" name="file_one"/>
    </div>
    <div style="width: 250px; margin: 5px">
      <input type="button" id="loadFileXml2" value="Выберите фото" onclick="document.getElementById('file2').click();" />
      <input type="file" style="display:none;" id="file2" name="file_two"/>
    </div>
    <div style="width: 250px; margin: 5px">
      <input type="button" id="loadFileXml3" value="Выберите фото" onclick="document.getElementById('file3').click();" />
      <input type="file" style="display:none;" id="file3" name="file_three"/>
    </div>
    <div style="width: 250px; margin: 5px">
      <input type="button" id="loadFileXml4" value="Выберите фото" onclick="document.getElementById('file4').click();" />
      <input type="file" style="display:none;" id="file4" name="file_four"/>
    </div>
    <div style="width: 250px; margin: 5px">
      <input type="button" id="loadFileXml5" value="Выберите фото" onclick="document.getElementById('file5').click();" />
      <input type="file" style="display:none;" id="file5" name="file_five"/>
    </div>
  </div>
  <input type="submit" value="Редактировать">
</form>
</body>
</html>