<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<a th:href="@{/admin}">Назад</a>
<div th:each="order : ${orders}">
  <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
  <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="100px">
  <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
  <p th:text="'Количество: ' + ${order.getCount()}">
  <p th:text="'Цена: ' + ${order.getPrice()}">
  <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
  <p th:text="'Статус: ' + ${order.getStatus()}"> </p>
  <form th:method="POST" th:action="@{/admin/edit/status/{id}(id=${order.getId()})}" th:object="${order}">
  <select name="status" id="status">
    <div th:each="element: ${status}">
      <option th:text="${element}" th:value="${element}"></option>
    </div>
  </select>
    <input type="submit" value="Изменить статус">
  </form>
  <hr>
</div>
</body>
</html>